@import '../base/settings';

.header-container {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.header {
  background: $theme-orange;
  padding: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchbar-container {
  margin-left: 30px;
}

.searchbar-container input {
  border: none;
  height: 42px;
  padding-left: 10px;
  width: 40vw;
}

.sort-by {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.sort-by span{
  color: dimgray;
  font-size: 10pt;
  padding: 4px;
}

.sort-button {
  border: none;
  border-radius: 10px;
  color: $theme-orange;
  cursor: pointer;
  font-size: 8.5pt;
  margin: 2px;
  padding: 4px 10px 4px 10px;
}

.subtitle-container {
  color: $off-white;
  margin-left: 20px;
}

.subtitle-container a {
  color: white;
  text-decoration: none;
}

.subtitle-container a:hover {
  color: rgb(218, 33, 0);
  text-decoration: none;
}

.title-container {
  border: $off-white 2px solid;
  padding: 5px;
  margin: 10px;
}

.title-container h1 {
  margin: 0 auto;
  color: $off-white;
  font-weight: normal;
}

@media (max-width: 812px) {
  .subtitle-container {
    font-size: 10pt;
  }
}

@media (max-width: 575px) {
  .subtitle-container {
    display: none;
  }

  .searchbar-container input {
    width: 50vw;
  }
}