.active {
  background: rgb(207, 207, 207) !important;
}

.sort-by {
  background: white;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 81px;
}

.sort-by span{
  color: dimgray;
  font-size: 10pt;
  padding: 4px;
}

.sort-button {
  background: rgb(241, 241, 241);
  border: none;
  border-radius: 10px;
  color: $theme-orange;
  cursor: pointer;
  font-size: 8.5pt;
  margin: 2px;
  padding: 4px 10px 4px 10px;
}

.sort-button:focus {
  outline: 0;
}

.page-number-container {
  background: white;
}
.page-number-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 15px 0 15px;
  padding: 8px 15px;
}

.page-number-container  li {
  border: 1px dimgray solid;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-size: 8pt;
  margin: 5px;
  padding: 4px 1px;
}
.page-number-container  li a {
  padding: 4px 10px;
}
.page-number-container  li a:focus {
  outline: 0;
}
.page-active {
  border: 1px solid $theme-orange !important;
  color: $theme-orange !important;
}

.page-number-container li.disabled {
  display: none;
}