@import './settings';


.app-container {
  margin: 0 10% 0 10%;
}

@media (max-width: #{$screen-xl-min}) {
  .app-container {
    margin: 0;
  }
}

body {
  background: gray;
  font-family: Verdana, Geneva, sans-serif !important;
  margin: 0;
}
