//colors
$off-white: rgb(248, 248, 248);
$theme-light: #f6f6ef;
$theme-orange: rgb(255, 103, 2);
//

// media queries
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;